
<div class="hero-unit">
	<h1>WTraveller & Ehealth</h1><br>
	<p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p><br>
	<% if (!user) { %>
		<p><a class="btn btn-primary btn-large" href="reg">Sign up today</a></p>
	<% } %>
</div>

<div class="row">
	<div class="span6">
		<h2>领导训话</h2>
		<blockquote class="pull-left"><!--blockquote引用-->
			<h4>GeoSIS实验室是万能的，是无所不能的！你们这群饭桶，连这点小事儿都做不好，一群酒囊饭袋，祸国殃民的家伙！</h4>
			方位科技董事长<br>京元集团董事长<p><small class="pull-right">陈秀万</small></p>
		</blockquote>
	</div>
	<div class="span6">
		<h2>名人格言</h2>
		<blockquote class="pull-left"><!--blockquote引用-->
			<h4>领袖和跟风者的区别就在于创新。</h4>
			苹果CEO<p><small class="pull-right">Steven Paul Jobs</small></p>
		</blockquote>
	</div>
</div>