
<form class="form-horizontal" method="post">
	<fieldset>
		<legend><h3>用户注册</h3></legend>
		<div class="control-group">
			<label class="control-label" for="username"><strong>邮箱</strong></label>
			<div class="controls">
				<input type="text" class="" placeholder="Email address" id="username" name="username">
				<p class="help-block">请使用您的邮箱注册为您登录的账户名称</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="possword"><strong>密码</strong></label>
			<div class="controls">
				<input type="password" class="" maxlength="20" id="password" name="password">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="possword-repeat"><strong>重复您的密码</strong></label>
			<div class="controls">
				<input type="password" class="" maxlength="20" id="password-repeat" name="password-repeat">
			</div>
		</div>
		<div class="form-action">
			<button type="submit" class="btn btn-large btn-primary">注　册</button>
		</div>
	</fieldset>
</form>